*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
}
main{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
nav{
    height:5%;
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:0.5%;
}
nav ul>li{
    list-style: none;
}
nav ul>li>a{
color:lab(84.2% 0 -0.01);
    text-decoration: none;
    font-size: 0.9rem;
}
nav ul>li>a:hover{
color:white;
}
section{
    height:100%;
    width:100%;
    margin-top: 20px;
    background:url("https://www.apple.com/v/iphone-17-pro/d/images/overview/welcome/hero_endframe__xdzisdq1ppem_xlarge_2x.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom:30px;
    gap:12px;
}
section button{
    padding:8px 12px;
    border-radius: 25px;
    background-color: #0066CC;
    font-size: 1.2rem;
    border:2px solid transparent;
    color: white;
    font-weight: 400;
}
section p{
    color:white;
    font-size: 24px;
    font-weight: bold;
}
i{
    color: white;
}