*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    position:relative;
    height:100%;
    width:100%;
}
nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:20px 30px;
    align-items: center;
}
nav>ul{
    width:20%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    color:black;
    font-size:1.3rem;
}
h1{
    text-align: center;
    font-size: 2rem;
}
h2{
    width:100%;
    font-size:18rem;
    text-align: start;
    padding-left: 20px;
    padding-top:10px;
    position:relative;
    z-index:2;
}
.left-bottom{
    width:24%;
    padding:10px 24px;
    display:flex;
    flex-direction:column;
    gap:12px;
}
.product-details,
.product-materials{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    flex-wrap: wrap;
}
h3{
    font-size:1.3rem;
}
p{
    text-align: start;
}
.bottom-bar{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 30px 0px 30px;
    margin-top:40px;
}

.new-collection{
    font-size:2rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-decoration: wavy;
}
.shop{
    font-size:1.6rem;
    font-weight:bolder;
    line-height:3;
    text-decoration: underline;
    transition:all 0.3s ease;
}
.shop:hover{
    cursor:pointer;
    transform: scale(1.1);
}.image-container{
    width:100%;
    height:30%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* Base properties */
img{
    object-fit: cover;
    position:absolute;
    transition:0.3s ease;
}

/* Actual stagger + spacing */
.img1{
    height:250px;
    width:200px;
    z-index:1;
    position:absolute;
    top:58%;
    left:52%;
    object-position: right;
}
.img2{    
    height:300px;
    width:250px;
    position:absolute;
    z-index:2;
    top:-30%;
    right:5%;
    object-position:top;
}
.img3{
        height:250px;
    width:300px;
    z-index:3;
    object-position: top;
    top:25%;
    left:63%;
}
