*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
    background-color: black;
}
main{
    height:100%;
    width:100%;
    padding:20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:space-evenly;
}
.card{
    height:400px;
    width:300px;
    border-radius:10px;
    background: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.02)
}
img{
    height:200px;
    width:200px;
    border-radius: 50%;
    object-fit: cover;
}
p{
    text-align:center;
    font-size: 1.1rem;
}
button{
    padding:2px 4px;
    border:2px solid black;
    font-size:24px;
    border-radius: 4px;
}
button:hover{
    cursor:pointer;
    transform: scale(1.06);
}