*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
        font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
nav {
    height:9%;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:30px 20px;
}
nav h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
nav ul {
    display:flex;
    justify-content:space-around;
    gap:12px;
}
nav ul li {
        list-style: none;
}
nav div {
    display:flex;
    gap:12px;
    align-items: center;
}
nav div button {
    padding:6px 12px;
    font-size:1rem;
    border:trnasparent;
    background-color: black;
    color:white;
    border-radius: 25px;
    text-align: center;
}

main {
    height:91%;
    width:100%;
    display:flex;
    padding:20px;
    justify-content: space-between;
}
h2 {
    display:inline;
    font-size:5rem;
}

.left {
    width:50%;
    height:100%;
    display: flex;
    flex-direction:column;
    gap:32px;
}
.decor-div {
    display:inline-block;
    height:3rem;
    width:9rem;
    margin:0px 10px 0px 0px;
    background:url('https://i.pinimg.com/1200x/9a/66/31/9a66312ea628a7f4aef5bd233178bc70.jpg');
    background-size:cover;
    border: 2px solid transparent;
    border-radius:30px;
}
.left .main-top {
    height:70%;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.how-we-work {
    display:inline-block;
    display: inline-flex;
    width:max-content;
    height:max-content;
    transform: translateY(-40%);
    padding:12px 16px;
    border-radius:25px;
    border:2px solid black;
}
.main-top .cta-buttons {
    display:flex;
    gap: 12px;
}
.main-top .cta-buttons .contact-button {
    padding:8px 12px;
    border-radius:25px;
    color:white;
    background-color:black;
}
.main-top .cta-buttons .request-call {
    padding:8px 12px;
    border: transparent;
    background-color: white;
    text-decoration: underline;
    border-radius:25px;
    font-size:1.1rem;
}

.left .main-bottom {    
    height:30%;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:12px;
}
.left .main-bottom .icons {
    display:flex;
    justify-content: baseline;
    align-items: center;
    gap:24px;
}
.left .main-bottom .icons img {
        height:60px;
}

.right {
    width: 50%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.right img{
    border-radius: 20px;
    object-fit:cover;
    object-position: center;
}
.right .img1 { grid-area: img1; height:45%;width:90%;}
.right .img2 { grid-area: img2; height:45%;width:45%;}
.right .img3 { grid-area: img3; height:45%;width:45%;}

