*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
:root{
    --x: 400px;
    --y :400px;
}
body{
    background: url('https://i.pinimg.com/736x/4c/2d/2d/4c2d2d1c1a9ff3502a36e786529b04ed.jpg');
    background-size:cover;
    background-image: radial-gradient(circle 200px at var(--x) var(--y), rgba(255, 255, 255, 0.488) 0%, rgba(0, 0, 0, 0.937) 100%), url('https://i.pinimg.com/736x/4c/2d/2d/4c2d2d1c1a9ff3502a36e786529b04ed.jpg');
}